### importing liabrary

Date Class

In [1]:
import QuantLib as ql
import pandas as pd

In [2]:
date = ql.Date(29, 2, 2024)
print(date)
print("%d-%d-%d" %(date.dayOfMonth(),date.month(),
date.year()))

February 29th, 2024
29-2-2024

In [3]:
date.weekday() == ql.Thursday

True

In [4]:
type(date)

QuantLib.QuantLib.Date

In [5]:
print("Subtract a day : {0}".format(date - 1))
print("Add a month: {0}".format(date + ql.Period(1, ql.Months)))

Subtract a day : February 28th, 2024
Add a month: March 29th, 2024

Calendar

In [6]:
date = ql.Date(31, 3, 2015)
us_calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
italy_calendar = ql.Italy()
period = ql.Period(60, ql.Days)
raw_date = date + period
us_date = us_calendar.advance(date, period)
italy_date = italy_calendar.advance(date, period)
print("Add 60 days: {0}".format(raw_date))
print("Add 60 business days in US: {0}".format(us_date))
print("Add 60 business days in Italy: {0}".format(italy_date))

Add 60 days: May 30th, 2015
Add 60 business days in US: June 24th, 2015
Add 60 business days in Italy: June 26th, 2015

blending calendar for getting all holidays

In [7]:
joint_calendar = ql.JointCalendar(us_calendar, italy_calendar)
joint_date = joint_calendar.advance(date, period)
joint_busdays = joint_calendar.businessDaysBetween(date, joint_date)
print("Add 60 business days in US-Italy: {0}".format(joint_date))
print("Business days US-Italy: {0}".format(joint_busdays))

Add 60 business days in US-Italy: June 29th, 2015
Business days US-Italy: 60

Schedule

In [8]:
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
tenor = ql.Period(ql.Monthly)
calendar = ql.UnitedStates(ql.UnitedStates.GovernmentBond)
business_convention = ql.Following
termination_business_convention = ql.Following
date_generation = ql.DateGeneration.Forward
end_of_month = False
schedule = ql.Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
date_generation,
end_of_month)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

short or long stub

In [9]:
# short stub in the front
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
first_date = ql.Date(15, 1, 2015) #####
schedule = ql.Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
ql.DateGeneration.Backward,
end_of_month,
first_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    January 15th, 2015
2    February 2nd, 2015
3       March 2nd, 2015
4       April 1st, 2015
5         May 1st, 2015
6        June 1st, 2015
7        July 1st, 2015
8      August 3rd, 2015
9   September 1st, 2015
10    October 1st, 2015
11   November 2nd, 2015
12   December 1st, 2015
13    January 4th, 2016

In [10]:
# short stub at the back
effective_date = ql.Date(1, 1, 2015)
termination_date = ql.Date(1, 1, 2016)
penultimate_date = ql.Date(15, 12, 2015) ###
schedule = ql.Schedule(effective_date,
termination_date,
tenor,
calendar,
business_convention,
termination_business_convention,
ql.DateGeneration.Forward,
end_of_month,
ql.Date(),
penultimate_date)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9     October 1st, 2015
10   November 2nd, 2015
11   December 1st, 2015
12  December 15th, 2015
13    January 4th, 2016

In [11]:
dates = [ql.Date(2,1,2015), ql.Date(2, 2,2015),
ql.Date(2,3,2015), ql.Date(1,4,2015),
ql.Date(1,5,2015), ql.Date(1,6,2015),
ql.Date(1,7,2015), ql.Date(3,8,2015),
ql.Date(1,9,2015), ql.Date(18,10,2015),
ql.Date(2,11,2015), ql.Date(1,12,2015),
ql.Date(4,1,2016)]
rolling_convention = ql.Following
schedule = ql.Schedule(dates, calendar,
rolling_convention)
pd.DataFrame({'date': list(schedule)})

                   date
0     January 2nd, 2015
1    February 2nd, 2015
2       March 2nd, 2015
3       April 1st, 2015
4         May 1st, 2015
5        June 1st, 2015
6        July 1st, 2015
7      August 3rd, 2015
8   September 1st, 2015
9    October 18th, 2015
10   November 2nd, 2015
11   December 1st, 2015
12    January 4th, 2016

Interest Rate

In [12]:
annual_rate = 0.05
day_count = ql.ActualActual(ql.ActualActual.ISDA)
compound_type = ql.Compounded
frequency = ql.Annual
interest_rate = ql.InterestRate(annual_rate,
day_count,
compound_type,
frequency)
print(interest_rate)

5.000000 % Actual/Actual (ISDA) Annual compounding

In [14]:
# compound_factor and discount_factor
t = 2.0  #n
print(interest_rate.compoundFactor(t))   # (1+r)^n
print(interest_rate.discountFactor(t))   #1/(1+r)^n

1.1025
0.9070294784580498

In [15]:
#compounding frequency
new_frequency = ql.Semiannual
new_interest_rate = interest_rate.equivalentRate(compound_type, new_frequency, t)
print(new_interest_rate)

4.939015 % Actual/Actual (ISDA) Semiannual compounding